.projects img {
    /* height: 225px; */
    width: 200px;
    margin: 10px auto;
    border: 1px solid var(--secondary);
    box-shadow: 0.3rem 0.3rem 0.5rem 0.5rem rgb(17, 13, 14, 0.8);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MuiTypography-body2,
.MuiTypography-h5 {
    font-family: Canela,
    'Silk Serif',
    'Louize Display';
    color: var(--primary);
    z-index: 1;
    position: relative;
}

/* @media(min-width: 775px) {
    .projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
} */