.projects img {
    width: 200px;
    margin: 10px auto;
    border: 1px solid var(--secondary);
    box-shadow: 0.3rem 0.3rem 0.5rem 0.5rem rgb(17, 13, 14, 0.8);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.MuiTypography-body2,
.MuiTypography-h5 {
    font-family: Canela,
    'Silk Serif',
    'Louize Display';
    color: var(--primary);
    z-index: 1;
    position: relative;
}


@media (max-width: 500px) {
    .projects {
        padding-bottom: 100px;
    }
}