.icons {
    font-size: 3vh;
    padding: 0.5em 0.3em;
}

.icons:hover {
    color: #4b2f33;
    cursor: pointer;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
}

p {
    margin-left: 1em;
}