.icons {
    font-size: 5vw;
    padding: 0.5em 0.3em;
}

.icons:hover {
    color: var(--secondary);
    cursor: pointer;
}

footer {
    /* https://www.w3schools.com/howto/howto_css_fixed_footer.asp 
    To fix the footer at bottom of page */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 1em 0.5em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

p {
    margin-left: 1em;
}

@media (min-width: 500px) {
    .icons {
        font-size: 3.5vw;
    }
}

@media (min-width: 850px) {
    .icons {
        font-size: 30px;
    }
}