:root {
  --primary: rgb(211, 185, 189);
}

.App {
  text-align: center;
  font-family: Canela, 'Silk Serif', 'Louize Display';
  /* border: 10px white solid; */
}

body {
  background-color: var(--primary);
}

main {
  height: 100%;
}

h1 {
  font-size: 6vh;
  margin-top: 40%;
}

@media (min-width: 615px) {
  h1 {
    font-size: 9vh;
  }
}

@media (min-width: 750px) {
  h1 {
    font-size: 11vh;
  }
}

@media (min-width: 850px) {
  h1 {
    font-size: 12vh;
    margin-top: 30%;
  }
}

@media (min-width: 1025px) {
  h1 {
    font-size: 15vh;
    margin-top: 22%;
  }
}
