.about-me h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
}

.about-me h4 {
    text-decoration: underline;
    margin-top: 2em;
}

.about-me ul li {
    display: flex;
    flex-wrap: wrap;
}

.about-me {
    width: 390px;
    margin: auto;
}


@media (min-width: 600px) {
    .about-me {
        width: 550px;
    }
}

@media (min-width: 800px) {
    .about-me {
        width: 700px;
    }
}

@media (min-width: 1025) {
    .about-me {
        width: 850px;
    }
}