h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5em;
}

.about h4 {
    margin-top: 2em;
    font-size: 1.1rem;
}

.about {
    margin: 200px auto;
}

.about img {
    border-radius: 50%;
}

.skills {
    list-style: none;
    display: flex;
    font-size: 2.9em;
    flex: 1 1;
    gap: 0.5em;
}

@media (min-width: 800px) {
    .about {
        width: 800px;
    }
}
