@import "react-alice-carousel/lib/alice-carousel.css";

h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5em;
}

.about h4 {
    margin-top: 2em;
    font-size: 1.1rem;
}

.about {
    margin: 200px auto;
}

.about img {
    border-radius: 50%;
}

.about p {
    font-size: 1.2em;
    font-weight: 500;
}

.skills {
    list-style: none;
    display: flex;
    font-size: 2.9em;
    flex: 1 1;
    gap: 0.9em 0.5em;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

img {
    height: 300px;
    border: 1px solid black;
}

@media (min-width: 800px) {
    .about {
        width: 800px;
    }
}
